@page "/"

<PageTitle>Главная</PageTitle>

<h1>Привет!</h1>

<AuthorizeView>
    <Authorized>
       @context.User.Identity?.Name!, как у Вас дела сегодня?
    </Authorized>
    <NotAuthorized>
        Чтобы получить доступ к функционалу 
        <a href="/Account/Login">авторизуйтесь</a>
        или 
        <a href="/Account/Register">зарегистрируйтесь</a>.
    </NotAuthorized>
</AuthorizeView>