@page "/myimages"

@using Microsoft.AspNetCore.Authorization
@using Fide.Blazor.Services.ImageLoader
@using Fide.Blazor.Models.ImageLoaderModels
@using System.Collections.Generic;

@inject AuthenticationStateProvider ContextProvider
@inject IImageLoader ImageLoader
@attribute [Authorize]

<PageTitle>Мои изображения</PageTitle>

@if (Images is null)
{
    <p>Загрузка...</p>
}
else
{
    if(Images.Count == 0)
    {
        <p>Пусто :(</p>
    }
    else
    {
        foreach (var image in Images)
        {
            <p>@image.Length</p>
        }
    }
}

<InputFile OnChange="LoadFiles" multiple />

@code {
    private List<byte[]>? Images;

    private int TakedImagesCount;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();

        var fileStreams = new List<Stream>();

        foreach(var file in files)
        {
            fileStreams.Add(file.OpenReadStream());
        }

        var request = new ImageUploadRequest()
        {
            FileStreams = fileStreams,
        };
        var response = ImageLoader.Upload(request);

        // TODO: Указать, были изображение успешно загружено
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadImages();
    }

    private async Task LoadImages()
    {
        var context = await ContextProvider.GetAuthenticationStateAsync();
        var request = new ImageDownloadRequest()
        {
            UserName = context.User.Identity.Name,
            Skip = TakedImagesCount,
            Take = 10,
        };
        TakedImagesCount += 10;
        var response = ImageLoader.Download(request);
        Images = new();
        foreach (var stream in response.FileStreams)
        {
            // TODO: Загрузить из потока изображение в ОЗУ
            // TODO: Добавить изображение в Images
        }
    }

    // TODO: Добавить кнопку "Загрузить еще", которая будет делать Skip += 10 при запросе изображений
}
