@page "/myimages"

@using Microsoft.AspNetCore.Authorization;
@using System.Collections.Generic;
@using Fide.Blazor.Data;
@using Fide.Blazor.Services.ImageManager
@using Fide.Blazor.Services.Repositories.Base


@inject AuthenticationStateProvider ContextProvider
@inject IUserRepository<ApplicationUser> users
@inject IImageManager ImageManager
@attribute [Authorize]

<PageTitle>Мои изображения</PageTitle>

@if (User is null)
{
    <p>Загрузка...</p>
}
else
{
    if (User.ImageLinks.Count == 0)
    {
        <p>У Вас пока что нет изображений</p>
    }
    else
    {
        foreach (var image in User.ImageLinks.Skip(AmountImagesByPage * ImagePage).Take(AmountImagesByPage))
        {
            <img src="@image.Url"/>
        }
    }
}

<InputFile OnChange="UploadImages" multiple />

@code {
    private ApplicationUser? User { get; set; }

    private int ImagePage { get; set; } = 1;

    private int AmountImagesByPage { get; set; } = 10;

    private async void UploadImages(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();

        var fileStreams = new List<Stream>();

        foreach(var file in files)
        {
            var image = await ImageManager.UploadImageAsync(file.OpenReadStream(), file.Name);
            User.ImageLinks.Add(image);
            users.Update(User);
            users.Save();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var context = await ContextProvider.GetAuthenticationStateAsync();
        User = users.Get(context.User.Identity.Name);
    }
}
