@typeparam TItem

<div class="grid-container">
    @foreach (var item in Source)
    {
        <div class="grid-item">
            @ChildContent(item)
        </div>
    }
</div>

@code {
    [Parameter]
    public required RenderFragment<TItem> ChildContent { get; set; }

    [Parameter]
    public required IEnumerable<TItem> Source { get; set; }
}