@typeparam TItem

<div class="grid-container grid-columns-@Columns">
    @foreach (var item in Source)
    {
        <div class="grid-item-content">
            @ChildContent(item)
        </div>
    }
</div>

@code {
    [Parameter]
    public required RenderFragment<TItem> ChildContent { get; set; }

    [Parameter]
    public required IEnumerable<TItem> Source { get; set; }

    [Parameter]
    public int Columns { get; set; } = 3;

    public void Update()
    {
        StateHasChanged();
    }
}